{% extends 'basefile.html' %}
{% load static %}
{% block content %}
    <div class="columns" style="margin-top: 5%; margin-left:5%">
        <div class="column is-one-third" style="background-color: black; color: white; font-family: DM Mono; padding: 10%;">
            <figure class="image is-96x96">
                <img class="is-rounded" src="{% static 'images/dehlogo.jpeg' %}">
            </figure>
            <label style="font-size: 40px;">Sabaq Management</label>
            <br>
            A Dawat E Hadiyah initiation for managing Sabaqs
        </div>
        <div class="column" style="font-family: DM Mono; padding:5%; animation: fadeIn 0.5s">
            <label style="font-size: 30px;">Administrator Login</label>
            <br/>
            <label>Log in using the Dawat E Hadiyah email ID and password set during registration</label><br/>
            <hr style="height:5px; background-color:gray">

            <div class="card">
                <div class="card-content">
                  <div class="content">

                    <div class="notification is-danger" id="alertbox">
                        <button class="delete"></button>
                    </div>

                    
                    {{ csrf_token }}
                    <br/>
                    Email: 
                    <div class="control">
                        <input class="input" type="email" placeholder="DEH Email here. Eg: name@gmail.com, deh@gmail.com, etc.." id="validating_email">
                    </div>
                    <br/>
                    Password: 
                    <div class="control">
                        <input class="input" type="password" placeholder="Your password here" id="validating_password">
                    </div>
                    <br/>
                    <button class="button is-medium is-warning" onclick="validate_deh_admin()">Login to Sabaq Portal</button>
                    <br/>
                    <br/>
                    New as an Admin? <a href="/register">Register as DEH Admin <span class="icon"><i class="fas fa-arrow-right"></i></span></a>

                  </div>
                </div>
            </div>


        </div>
    </div>

    <script src="{% static 'js/deh_validate.js' %}"></script>

{% endblock content %}