{% extends 'basefile.html' %}
{% load static %}
{% block content %}


    <div class="columns" style="margin-top: 5%; margin-left:5%">
        <div class="column is-one-third" style="background-color: black; color: white; font-family: DM Mono; padding: 10%;">
            <figure class="image is-96x96">
                <img class="is-rounded" src="{% static 'images/dehlogo.jpeg' %}">
            </figure>
            <label style="font-size: 40px;">Sabaq Management</label>
            <br>
            A Dawat E Hadiyah initiation for managing Sabaqs
        </div>
        <div class="column" style="font-family: DM Mono; padding:5%; animation: fadeIn 0.5s;">
            <label style="font-size: 30px;"><a href="/register"><i class="fa-solid fa-arrow-left"></i></a> &nbsp;&nbsp; Admin Validation</label>
            <br/>
            <label>An Authentication token is sent to the email you registered with. Please enter the token from it and continue</label><br/>
            <hr style="height:5px; background-color:gray">

            <div class="card">
                <div class="card-content">
                  <div class="content">
                    <div class="notification is-danger" id="alertbox">
                        <button class="delete"></button>
                    </div>

                    <label style="font-size:20px">Enter the DEH verification token sent to the email</label>
                    <br/>
                    <input class="input is-large" type="text" placeholder="Eg: sa78i8-12uet3-msng46-yett23, etc..." id="token_val">
                    <br/>
                    <br/>
                    <button class="button is-medium is-warning" onclick="verify_authtoken()">Verify and Continue</button>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/deh_verify_authtoken.js' %}"></script>

{% endblock content %}