{% load static %}
<div class="columns" style="font-family: Bahnschrift Light; color: white; background-color: black; padding: 0.8%;">
  <div class="column">
    <div>
      <figure class="image is-48x48">
        <img class="is-rounded" src="{% static 'images/dehlogo.jpeg' %}">
      </figure>
      <label style="font-size: 12px;">DEH Sabaq</label>
    </div>
    
  </div>
  <div class="column">
    <div class="buttons" style="margin-top: 2%;">
      <button class="button is-link is-small" style="font-family: DM Mono">Mumins&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></button>
      <button class="button is-link is-small" style="font-family: DM Mono">Sabaq group&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></button>
      <button class="button is-link is-small" style="font-family: DM Mono">Settings&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></button>
    </div>
    
  </div>
</div>