{% extends 'basefile.html' %}
{% block content %}

{% include 'navbar.html' %}

<div style="font-family: Bahnschrift Light;">
    <div class="columns">
        <div class="column">
            <nav class="breadcrumb has-bullet-separator" aria-label="breadcrumbs" style="margin-left: 2%;">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li class="is-active"><a href="#">Sabaq Groups</a></li>
                </ul>
            </nav>
        </div>
        <div class="column">
            <center><button class="button is-dark is-normal"><i class="fa-solid fa-circle-plus"></i> &nbsp;&nbsp;New Sabaq Group</button></center>
        </div>
    </div>
    

    
    
    <hr>
    <br/>
    
    <div class="columns" style="padding: 2%;">
        <div class="column">
            <div class="card" style="background-color: rgb(65, 96, 255);">
                <div class="card-content">
                  <div class="content">
                    Mohammadi Group
                    <br/>
                    <label style="font-size: 40px;"><b>150</b></label>
                  </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: rgb(65, 96, 255);">
                <div class="card-content">
                  <div class="content">
                    Haideri Group
                    <br/>
                    <label style="font-size: 40px;"><b>150</b></label>
                  </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: rgb(65, 96, 255);">
                <div class="card-content">
                  <div class="content">
                    Fatemi Group
                    <br/>
                    <label style="font-size: 40px;"><b>150</b></label>
                  </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: rgb(65, 96, 255);">
                <div class="card-content">
                  <div class="content">
                    Hasani Group
                    <br/>
                    <label style="font-size: 40px;"><b>150</b></label>
                  </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="background-color: rgb(65, 96, 255);">
                <div class="card-content">
                  <div class="content">
                    Husaini Group
                    <br/>
                    <label style="font-size: 40px;"><b>150</b></label>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
    

</div>


{% endblock content %}